@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    box-shadow: #4560FD 0px 0px 0px 3px, #00E125 0px 0px 0px 6px, #FEEA43 0px 0px 0px 9px, #FA173C 0px 0px 0px 11px, #FFAAFD 0px 0px 0px 13px;
    border-radius: 80px;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$secondaryColor;
            text-shadow: #FFB501 1px 0 10px;
        

            b {
                font-size: 18px;
                display: block;
                color: variables.$secondaryColor;
            }
        }
    }

    @media (max-width: 640px) {
        display: flex;
        padding: 24px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &__infos {
            display: block;
            

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}