@use 'variables';

.event {
    padding: 22px 0;

    &--jake {
        background-image: linear-gradient(variables.$blue1, variables.$blue2);
    }
    
    &--finn {
        background-image: linear-gradient(variables.$blue2, variables.$blue2);
    }

    &--bmo {
        background-color: variables.$blue2;
    }

    &--jujuba {
        background-image: linear-gradient(variables.$blue2, variables.$yellow);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 20px;
    }

    &__image {
        max-width: 340px;
    }

    &__details {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
            text-shadow: variables.$jakeColor 1px 0 10px;
        }

        &__description {
            margin-top: 22px;
            text-shadow: variables.$jakeColor 1px 0 10px;
        }
    }

    @media (max-width: 640px) {
        padding: 22px 0;

        .container {
            display: block;
            padding: 0;
        }

        &__image {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;

            &__title {
                font-size: 16px;
            }

            &__description {
                font-size: 14px;
            }
        }
    }
}