@use 'variables';

.footer {
    background-image: url(../images/grass_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: variables.$textColor;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 20px;

    &__image {
        max-width: 280px;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        a {
            text-decoration: none;
            color: variables.$textColor;
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
                opacity: 0.8;
            }

            i {
                font-size: 20px;
            }
        }
    }

    &__info {
        padding: 16px 16px;
        text-align: end;
        font-size: 18px;
        text-shadow: #000000 1px 0 8px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        outline: variables.$textColor solid 2px;
        outline-offset: .2em;
        border-radius: .2em;

        &--name {
        font-weight: bold;
        color: variables.$jakeColor;
        }

        &--role {
        font-style: italic;
        }

        &--copyright {
        margin-top: 10px;
        font-size: 12px;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;

        &__links {
        align-items: center;
        }

        &__info {
        text-align: center;
        }
    }

    @media (max-width: 480px) {
        gap: 10px;
        padding: 16px;

        &__links {
            a {
                font-size: 14px;

                i {
                font-size: 18px;
                }
            }
        }

        &__info {
            font-size: 12px;
        }
    }
}